.body-block,
.body-title {
    display: flex;
}

.body-block {
    flex: content;  
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 32px;
    justify-content: center;
}

.body-title {
    color: black;
    font-family: 'Essays 1743', "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 24px;
    padding-left: 64px;
    padding-right: 64px;
    border: solid 4px;
    border-color: 4px;
}