.body-title,
.body-block,
.left-body,
.right-body,
.body-section,
.contact-button {
    display: flex;
}

.body-title,
.body-block,
.left-body,
.right-body,
.body-section {
    justify-content: center;
}

.body-title,
.contact-button {
    font-family: 'Ubuntu', "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.left-body,
.right-body {
    flex-direction: column;
    flex: .5;
}

.title-block,
.contact-button {
    border: solid 4px;
    border-color: black;
}

.body-block {
    flex: 1;
}

.body-title {
    color: black;
    font-size: 24px;
}

.title-block {
    padding: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.body-section {
    margin: 32px;
    padding: 16px;
}

.contact-button {
    text-align: center;
    transition: background-color .5s;
    padding: 32px;
    text-decoration: none;
    color: black;
}

.contact-button:hover {
    background-color: #272727;
    color: white;
}