.body-block,
.body-title,
.left-body,
.right-body {
    display: flex;
}

.body-title,
.body-block {
    justify-content: center;
}

.left-body,
.right-body {
    flex-direction: column;
    flex: .5;
}

.title-block,
.body-section {
    border: solid 4px;
    border-color: black;
}

.body-block {
    flex: content;  
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 32px;
}

.body-title {
    color: black;
    font-family: 'Essays 1743', "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 24px;
}

.title-block {
    padding: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.body-body {
    font-family: 'Ubuntu', "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

