@font-face {
    font-family: 'Essays 1743';
    src: url("./fonts/essays1743/Essays1743-Bold.ttf");
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #edeced;
}

a:hover.navbutton,
a:hover.homelink {
    cursor: pointer;
    text-decoration: underline;
}

a:hover.navbutton {
    background-color: #2c648f;
}

.navbar,
.navbutton,
.left-navbar,
.right-navbar,
.homelink,
.logobar,
.buttonbox {
    display: flex;
    align-items: center;
}

.homelink,
.navbar,
.navbutton {
    color: #edeced;
    background-color: #27577c;
    font-family: 'Essays 1743', "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.homelink,
.homelink-box,
.logobar {
    justify-content: center;
}

.right-navbar,
.buttonbox {
    justify-content: flex-end;
}

.left-navbar,
.buttonbox {
    justify-content: space-evenly;
}

.left-navbar {
    flex: 1;
}

.right-navbar {
    flex: auto;
    justify-content: flex-end;
    margin-right: 36px;
}

.logobar {
    flex: .35;
}

.logopic {
    height: 64px;
    width: auto;
}

.navbar {
    flex-wrap: wrap;
}

.homelink {
    font-size: 36px;
    overflow: hidden;
    white-space: nowrap;
}

.buttonbox {
    flex: .5;
}

.navbutton {
    font-size: 18px;
}