body {
    background-image: url("./assets/crumpled-paper-background.png");
}

a:hover.navbutton {
    background-color: deepskyblue;
    cursor: pointer;
}

.navbar,
.navbutton,
.left-navbar,
.right-navbar,
.homelink,
.logobar {
    display: flex;
    align-items: center;
}

.homelink,
.navbar,
.navbutton {
    color: white;
    background-color: dodgerblue;
    font-family: helvetica,arial,sans-serif;
    padding: 10px;
}

.homelink,
.navbutton {
    text-decoration: none;
}

.left-navbar,
.right-navbar {
    justify-content: flex-end;
    flex: .25;
    flex-direction: column;
}

.homelink {
    justify-content: flex-start;
    flex: .5;
    font-size: 36px;
}

