@media screen and (max-width: 600px) {
    .contact-button {
        width: 75dvw;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 601px) {
    .contact-button {
        width: 50dvw;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}


.body-title,
.title-block,
.section-container,
.body-section,
.contact-button {
    display: flex;
}

.body-title,
.body-section {
    justify-content: center;
}

.title-block,
.contact-button {
    border-color: black;
    border: solid 4px;
}

.body-title {
    margin-bottom: 3dvh;
}

.title-block {
    padding: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.section-container {
    flex-direction: column;
}

.body-section {
    margin-top: 2dvh;
    margin-bottom: 2dvh;
}

.contact-button {
    justify-content: center;
    text-align: center;
    transition: background-color .5s;
    text-decoration: none;
    color: black;
}

.contact-button:hover {
    background-color: #272727;
    color: white;
}