.body-title,
.title-block,
.section-container,
.body-section,
.contact-button {
    display: flex;
}

.body-title,
.body-section {
    justify-content: center;
}

.title-block,
.contact-button {
    border: solid 4px;
    border-color: black;
}

.body-title {
    margin-bottom: 3dvh;
}

.title-block {
    padding: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.section-container {
    flex-direction: column;
}

.body-section {
    margin-top: 2dvh;
    margin-bottom: 2dvh;
}

.contact-button {
    justify-content: center;
    text-align: center;
    transition: background-color .5s;
    padding: 2dvw;
    text-decoration: none;
    color: black;
    flex: auto;
    margin-right: 25dvw;
    margin-left: 25dvw;
}

.contact-button:hover {
    background-color: #272727;
    color: white;
}