.wrapper,
.body,
.body-container,
.title-container {
    display: flex;
}

.wrapper,
.body,
.body-container {
    flex-direction: column;
    background-color: black;
    color: white;
}

.wrapper {
    min-height: 100dvh;
    min-width: 100dvw;
    height: 100dvh;
    width: 100dvw;
    align-items: center;
}

.body {
    min-height: 100dvh;
    min-width: 70dvw;
    height: 100dvh;
    width: 70dvw;
}

.title-container {
    justify-content: center;
    margin-top: 15dvh;
}

.body-container {
    align-items: center;
}

.break {
    width: auto;
    margin-right: 5dvw;
    margin-left: 5dvw;
    margin-bottom: 5dvw;
}