.body-container,
.body-box,
.body-title,
.body-section,
.subsection {
    display: flex;
}
.body-container,
.body-box,
.body-title,
.body-section {
    justify-content: center;
    flex: auto;
}

.body-box,
.body-section{
    flex-direction: column;
}

.body-box {
    background-color: #27577c;
    margin-left: 10dvw;
    margin-right: 10dvw;
    margin-top: 5dvw;
}

.body-section {
    padding: 5dvw;
    flex: 1;
    align-items: center;
}

.middle-text {
    text-align: center;
}

.namebutton {
    width: 25dvw;
    margin-bottom: 2dvh;
}

.break {
    width: auto;
    margin-right: 5dvw;
    margin-left: 5dvw;
}

.hoverlarge {
    transition: .25s;
    padding: 16px;
    border: solid 4px;
    border-color: black;
}

.hoverlarge:hover {
    transform: scale(1.5);
    background-color: #2c648f;
}

.roles {
    margin-bottom: 5dvh;
    line-height: 5dvh;
}